
.about-hero-section {
  /* height: 100vh; */
  background-image: url('https://res.cloudinary.com/dlfuxeq5r/image/upload/v1775491384/uploads/dmy6zrzdvntlp1u9sweo.jpg');
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  min-height: 50vh;
  
}

